<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown Timer</title>
    <!-- <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script> -->
</head>

<body>
    <!-- <h1>NEW YEARS EVE</h1>
    <div class="countdown-container">
    <div class="countdown-el days-c">
        <p class="big-text" id="days">0</p>
        <span>days</span>
    </div>
    <div class="countdown-el hours-c">
        <p class="big-text" id="hours">0</p>
        <span>hrs</span>
    </div>
    <div class="countdown-el minutes-c">
        <p class="big-text" id="minutes">0</p>
        <span>mins</span>
    </div>
    <div class="countdown-el seconds-c">
        <p class="big-text" id="seconds">0</p>
        <span>secs</span>
    </div>
    </div> -->
    <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
        <div>
            BUILD A TODO APP WITH ANGULAR
            <div>
                <pre>
                // src/app/app.component.ts
                import { Component } from '@angular/core';
                import { Todo } from './todo.model';

                @Component({
                selector: 'app-root',
                templateUrl: './app.component.html',
                styleUrls: ['./app.component.css']
                })
                export class AppComponent {
                todos: Todo[] = [];
                newTodoText: string = '';

                addTodo() {
                if (this.newTodoText.trim() !== '') {
                const newTodo: Todo = { id: this.todos.length + 1, text: this.newTodoText, completed: false };
                this.todos.push(newTodo);
                this.newTodoText = '';
                }
                }

                deleteTodo(id: number) {
                this.todos = this.todos.filter(todo => todo.id !== id);
                }
                }</pre>
                <p>
                    <xmp>
                        <!-- src/app/app.component.html -->
                        <div>

                            <h1>Todo List</h1>
                            <div>
                                <input type="text" [(ngModel)]="newTodoText" placeholder="Add a new task" />
                                <button (click)="addTodo()">Add</button>
                            </div>
                            <div *ngFor="let todo of todos">
                                <div>
                                    <input type="checkbox" [(ngModel)]="todo.completed" />
                                    <span [class.completed]="todo.completed">{{ todo.text }}</span>
                                    <button (click)="deleteTodo(todo.id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </xmp>
                </p>
            </div>
        </div>

        <div>

            <xmp>
                WEATHER APP

                import { HttpClient } from '@angular/common/http';
                import { Component } from '@angular/core';

                @Component({
                selector: 'app-root',
                templateUrl: './app.component.html',
                styleUrl: './app.component.css'
                })
                export class AppComponent {
                title = 'weather-app';

                //WAETHER APP COMPONENTS
                city: string = '';
                apiKey: string = 'd3756a621ffd7295ee3c5c01028ae081'; // Replace with your OpenWeatherMap API key
                weather: any;

                constructor(private https: HttpClient) {}

                ngOnInit() {
                // You can perform initialization logic here if needed
                }

                getWeather() {
                const apiUrl = https://api.openweathermap.org/data/2.5/weather?q=${this.city}&appid=${this.apiKey};

                this.https.get(apiUrl).subscribe((data: any) => {
                this.weather = data;
                });
                }
                }


                <!-- WEATHER APP -->

                <!-- src/app/app.component.html -->
                <div>
                    <h1>Weather App</h1>
                    <div>
                        <label for="city">Enter City:</label>
                        <input type="text" id="city" [(ngModel)]="city" />
                        <button (click)="getWeather()">Get Weather</button>
                    </div>
                    <div *ngIf="weather">
                        <h2>{{ weather.name }}, {{ weather.sys.country }}</h2>
                        <p>Temperature: {{ weather.main.temp }}°C</p>
                        <p>Weather: {{ weather.weather[0].description }}</p>
                        <p>Humidity: {{ weather.main.humidity }}%</p>
                    </div>
                </div>


                import { NgModule } from '@angular/core';
                import { BrowserModule, provideClientHydration } from '@angular/platform-browser';

                import { AppRoutingModule } from './app-routing.module';
                import { AppComponent } from './app.component';

                import { FormsModule } from '@angular/forms';
                import { HttpClientModule } from '@angular/common/http';

                @NgModule({
                declarations: [
                AppComponent
                ],
                imports: [
                BrowserModule,
                AppRoutingModule,
                FormsModule,
                HttpClientModule
                ],
                providers: [
                provideClientHydration()
                ],
                bootstrap: [AppComponent]
                })
                export class AppModule { }
            </xmp>
        </div>

        <div>
            DEPENDENCY INJECTIOn
            <xmp>
                Fruits Components

                import { Component } from '@angular/core';
                import { WaterService } from '../water.service';

                @Component({
                selector: 'app-fruits',
                templateUrl: './fruits.component.html',
                styleUrl: './fruits.component.css'
                })
                export class FruitsComponent {

                fruits: string[] = ['Apple', 'Banana', 'Orange'];

                waterType: string[];

                constructor(private waterService: WaterService) {
                this.waterType = this.waterService.getWaterType();
                }
                }

                <p>fruits works!</p>


                <div>
                    <h2>Fruits</h2>
                    <ul>
                        <li *ngFor="let fruit of fruits">{{ fruit }}</li>
                    </ul>
                    <h2>Water</h2>
                    <ul>
                        <li *ngFor="let water of waterType">{{water}}</li>
                    </ul>
                </div>


                Vegetables Component

                import { Component } from '@angular/core';
                import { WaterService } from '../water.service';

                @Component({
                selector: 'app-vegetables',
                templateUrl: './vegetables.component.html',
                styleUrl: './vegetables.component.css'
                })
                export class VegetablesComponent {
                vegetables: string[] = ['Carrot', 'Broccoli', 'Spinach'];

                waterType: string[];

                constructor(private waterService: WaterService) {
                this.waterType = this.waterService.getWaterType();
                }
                }


                <p>vegetables works!</p>

                <div>
                    <h2>Vegetables</h2>
                    <ul>
                        <li *ngFor="let vegetable of vegetables">{{ vegetable }}</li>
                    </ul>
                    <h2>Water</h2>
                    <ul>
                        <li *ngFor="let water of waterType">{{water}}</li>
                    </ul>
                </div>


                app.component.ts
                import { Component } from '@angular/core';
                import { WaterService } from './water.service';

                @Component({
                selector: 'app-root',
                templateUrl: './app.component.html',
                styleUrl: './app.component.css'
                })
                export class AppComponent {
                title = 'app-dependency';

                waterType: string[];

                constructor(private waterService: WaterService) {
                this.waterType = this.waterService.getWaterType();
                }
                }


                app.co.html
                <div>
                    <h1>My Kitchen</h1>
                    <app-fruits></app-fruits>
                    <app-vegetables></app-vegetables>
                    <p>Water Type: {{ waterType }}</p>
                </div>


                app.module

                import { NgModule } from '@angular/core';
                import { BrowserModule, provideClientHydration } from '@angular/platform-browser';

                import { AppRoutingModule } from './app-routing.module';
                import { AppComponent } from './app.component';
                import { FruitsComponent } from './fruits/fruits.component';
                import { VegetablesComponent } from './vegetables/vegetables.component';
                import { WaterService } from './water.service';

                @NgModule({
                declarations: [
                AppComponent,
                FruitsComponent,
                VegetablesComponent
                ],
                imports: [
                BrowserModule,
                AppRoutingModule
                ],
                providers: [
                provideClientHydration(),
                WaterService,
                ],
                bootstrap: [AppComponent]
                })
                export class AppModule { }
            </xmp>
        </div>

        <div>
            <xmp>
                # GET request to retrieve all blogs
                ###
                GET http://localhost:3000/

                # POST request to add a new blog
                ###
                POST http://localhost:3000/blogs
                Content-Type: application/json

                {
                "title": "Learn Express",
                "content": "This is a blog post about Express."
                }


                const express = require('express')
                const app = express()
                const port = 3000

                const bodyParser = require('body-parser');

                app.use(bodyParser.json());

                blogs = [
                {id: 1,title : "Blog 1", content : "Content 1"},
                ];

                app.get('/', (req, res) => {
                res.json(blogs);
                });



                app.get('/blogs/:id', (req, res) => {
                const id = req.params.id;
                const blog = blogs.find(blog => blog.id == id);
                res.json(blog);
                });


                app.post('/blogs', (req, res) => {
                const { title, content } = req.body;
                const newBlog = { id: blogs.length + 1, title, content };
                blogs.push(newBlog);
                res.json(newBlog);
                });


                app.listen(port, () => {
                console.log(Example app listening on port ${port})
                })
            </xmp>
        </div>

        <div>
            <xmp>
                const express = require('express');
                const bodyParser = require('body-parser');
                const mongoose = require('mongoose');

                const app = express();
                const port = 3000;

                const ATLAS_URI = "mongodb+srv://<username>:about<password>@cluster0.07pblg8.mongodb.net/";

                mongoose.connect(ATLAS_URI, { useNewUrlParser: true, useUnifiedTopology: true });

                const userSchema = new mongoose.Schema({
                name: String,
                email: String,
                age: Number,
                });

                const User = mongoose.model('User', userSchema);

                const newUser = new User({
                name: 'Roki Jolin',
                email: 'roki12@example.com',
                age: 23,
                });

                newUser.save()
                .then(() => {
                console.log('Save User at MongoDB');
                })
                .catch((error) => {
                console.error(error);
                });

                app.use(bodyParser.json());

                app.post("/users", async (request, response) => {
                const user = new User(request.body);
                try {
                await user.save();
                response.send(user);
                } catch (error) {
                response.status(500).send(error);
                }
                });


                app.get("/users", async (request, response) => {
                try {
                const users = await User.find({});
                response.send(users);
                } catch (error) {
                response.status(500).send(error);
                }
                });


                app.listen(port, () => {
                console.log(Server is running on http://localhost:${port});
                });
            </xmp>
        </div>
    </div>
</body>

</html>